* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.row {
  padding: 0;
  margin: 0;
}

body {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url("https://wallpaperaccess.com/full/3726170.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0 auto;
}

.contain {
  padding: 150px 0;
  margin: 0 auto;
 text-align: center;
  .card {
    color: #fff;
    background: none;
    border: none;
    margin: 20px 0;
    padding: 20px;
    transition: all 0.3s ease;
    cursor: pointer;

    .card_img {
      img {
        width: 100%;
        border-radius: 6px;
      }
      position: relative;

    }

    .card_content {
      position: absolute;
      left: 20px;
      bottom: 20px;
      right: 20px;
      overflow: hidden;
      font-weight: bold;
    background: rgba(161, 66, 66, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.4px);
    -webkit-backdrop-filter: blur(3.4px);
    border: 1px solid rgba(161, 66, 66, 0.3);   

      h3 {
        font-size: 1.3rem;
      }
    }
  }
}
